* {
	box-sizing: border-box;
}
body {
	font-family: "League Spartan", sans-serif;
	font-size: 14px;

}
a {
	text-decoration: none;
	color: inherit;
}


/* CONTAINER */
.container {
	margin: 0 auto;
	padding: 0 15px;

	width: 100%;
	height: auto;
	max-width: 1200px;
}

.container__title {
	margin-bottom: 50px;

	font-size: 32px;
	font-weight: 700;
	text-transform: uppercase;

	color: #717171;
}

/* slider */
.slick-track {
	padding: 20px 0;
}

.slick-arrow {
	display: block;

    font-size: 0;
    color: transparent;

    border: 0;
    background: none;
    cursor: pointer;

    position: absolute;
    top: 40%;
    z-index: 1;
    transform: translateY(-40%);
}
.slick-arrow:after {
	padding: 10px;
	margin: 10px;
	content: "";
    display: block;
    width: 16px;
    height: 16px;

    border-top: 2px solid #999;
    border-left: 2px solid #999;
}
.slick-prev {
    left: -10px;
    transform: rotate(-45deg);
}

.slick-next {
    right: -10px;
    transform: rotate(135deg);
}


/* HEADER */
.header {
	padding: 25px 0;
	width: 100%;
	min-height: 65px;
	background-color: #0A0A0A;

	font-size: 24px;

	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1000;
	position: relative;
}

/* Nav */
.nav {
	display: flex;
	justify-content: space-between;
	align-items: center;

	color: #717171;
}
.menu__item {
	display: inline-block;
	margin-right: 30px;

	transition: color .2s linear;
}

.menu__item:after {
	content: "";
	display: block;
	width: 100%;
	height: 2px;

	background-color: #fff;
	opacity: 0;

	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1;

	transition: opacity .2s;
}

.menu__item:hover {
	color: #fff;
}
.menu__item:hover:after {
	opacity: 1;
}

.menu__item:last-child {
	margin-right: 0;
}


.logo {
	position: absolute;
	height: auto;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}
.phone {
	right: 0;

	transition: color .2s linear;
}
.phone:hover {
	color: #fff;
}

/* Burger */
.nav-toggle {
	width: 30px;
	padding: 10px 0;
	display: none;

	font-size: 0;
	color: transparent;

	border: 0;
	background: none;
	cursor: pointer;

	position: absolute;
	top: 24px;	
	right: 24px;
	z-index: 1;
}
.nav-toggle:focus {
	outline: 0;
}

.nav-toggle__item {
	display: block;

	width: 100%;
	height: 3px;

	background-color: #fff;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	margin: auto;

	transition: background .2s linear;

}

.nav-toggle.active .nav-toggle__item {
	background: none;
}

.nav-toggle__item:before,
.nav-toggle__item:after {
	content: '';
	width: 100%;
	height: 3px;
	
	background-color: #fff;

	position: absolute;
	left: 0;
	z-index: 1;	

	transition: transform .2s linear;
}
.nav-toggle__item:before {
	top: -8px;
}
.nav-toggle__item:after {
	bottom: -8px;
}

.nav-toggle.active .nav-toggle__item:before {
	transform-origin: left top;
	transform: rotate(45deg) translate3D(0px, -3px, 0);
}
.nav-toggle.active .nav-toggle__item:after {
	transform-origin: left bottom;
	transform: rotate(-45deg) translate3D(0px, 3px, 0);
}



/* Intro */
.intro {
	padding-top: 75px;
	height: 100vh;
	background-color: #F5F5F7;
}

.intro__inner {
	display: flex;
	flex-direction: column;
	text-align: center;
}
.intro__title {
	margin-top: 70px;
	font-size: 64px;
	font-weight: 700;
	line-height: 1;

	color: #3D0E81;
	text-transform: uppercase;
}
.intro__content {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 40px auto;
}
.intro__img {
	width: 100%;
	max-width: 770px;

	transition: transform .2s linear;
}
.intro__img:hover {
	transform: scale(1.02);
	cursor: pointer;
}

.intro__btn {
	padding: 20px 115px;
	margin-top: 25px;
	max-width: 350px;

	font-size: 24px;
	font-weight: 700;
	color: #fff;
	text-transform: uppercase;

	background-color: #3D0E81;
	border: 2px solid #3D0E81;
	border-radius: 10px;

	transition: background-color .2s linear;
	transition: color .2s linear;
}
.intro__btn:hover {
	background-color: #fff;
	color: #3D0E81;
}



/* News */
.news {
	padding: 130px 0 0;
	text-align: center;
}
.news__content {
	padding: 0 70px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.news__item {
	text-align: left;
}
.news__text {
	margin-bottom: 30px;
}
.news__text--bold {
	margin-bottom: 0;
	font-size: 20px;
	font-weight: 700;
}
.news__img {
	height: 100%;
	transition: transform .2s linear;
}
.news__img:hover {
	transform: rotate(2deg) scale(1.05);
	cursor: pointer;
}


/* Models */
.models {
	margin: 150px 0;
	text-align: center;
}
.models__inner {
	display: flex;
	justify-content: space-between;

	position: relative;
}
.models__item {
	transition: color .2s linear;
}
.models__item:hover {
	color: #3D0E81;
}
.models__img {
	margin: 0 auto;
	transition: transform .2s linear;
}
.models__img:hover {
	transform: scale(1.1);
	cursor: pointer;
}
.models__title {
	margin-top: 20px;

	font-size: 20px;
	font-weight: 700;
}
.models__subtitle {
	margin-top: 10px;
}

/* Order */
.order {
	margin: 0 auto;

	text-align: center;
}
.order__inner {
	display: flex;
}
.order--title {
	color: #fff;
}
.order__content {
	padding: 135px 100px;
	width: 50%;

	background-color: #574B63;
}
.order__form {
	margin-top: 70px;
}
.order__input {
	width: 100%;
	height: 28px;
	margin-bottom: 30px;
	padding: 10px 5px;

	background: inherit;
	font-size: 14px;
	line-height: 1.5;


	color: #fff;
	border: 0;
	border-bottom: 2px solid #fff;

	transition: border-color .2s linear;
}
.order__input:hover,
.order__input:focus {
	border-color: #3D0E81;
}
.order__input:focus {
	color: #717171;
	outline: 0;
}
.order__text {
	margin-bottom: 30px;

	color: #fff;
}
.order__btn {
	padding: 16px 80px;

	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;

	color: #3D0E81;
	background-color: #fff;
	border: 2px solid #fff;
	border-radius: 10px;

	transition: background-color .2s linear;
	transition: color .2s linear;
}
.order__btn:hover {
	background-color: #3D0E81;
	color: #fff;
}

.order__photo {
	width: 50%;
	background-color: #000;
}
.order__img {
	height: 100%;

	transition: opacity .2s linear;
	transition: transform .2s linear;
}
.order__img:hover {
	opacity: 0.6;
	cursor: pointer;
	transform: scale(.96);
}

/* FOOTER */
.footer {
	height: auto;
	width: 100%;
	background-color: #0A0A0A;
	position: relative;
}
.footer__inner {
	padding: 25px 0;
	display: flex;
	align-items: center;
	justify-content: space-between;

	font-size: 18px;
	color: #717171;
}
.footer__item {
	transition: color .2s linear;
}
.footer__item:hover {
	color: #fff;
}


@media (min-width: 2400px) {
	.intro {
		height: 100%;
	}
}

/* Portrait tablets and medium desktops */
@media (max-width: 1200px) {
	/* INTRO */
	.intro__title {
		margin: 80px auto;
	}
	.intro__content {
		margin: 0 auto;
	}
	.intro__btn {
		margin-top: 50px;
		padding: 15px 70px;
	}
	.intro__img {
		width: 90%;
	}

	/* NEWS */
	.news {
		padding-top: 80px;
	}
	.news__content {
		padding: 0 30px;
	}
	.news__text {
		margin-bottom: 20px;
	}

	/* MODELS */
	.models {
		margin: 120px 0;
	}

	/* ORDER */
	.order__content {
 		padding: 70px 50px;
 	}
}

/* Portrait tablets and small desktops */
@media (max-width: 990px) {
	/* HEADER */
	.header {
		font-size: 18px;
	}

	/* CONTAINER */
	.container {
		max-width: 800px;
	}
	.container__title {
		font-size: 28px;
		margin-bottom: 30px;
	}

	/* NEWS */
	.news__content {
		padding-bottom: 50px;
		position: relative;
	}
	.news__text--bold {
		padding: 0 30px;
		position: absolute;
		top: 85%;
		left: 0;
	}

	/* ORDER */
	.order__content {
 		padding: 40px 15px;
 	}
 	.order__form {
 		padding: 0 20px;
 		font-size: 12px;
 	}
 	.order__input {
 		margin-bottom: 20px;
 	}
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
	/* HEADER */
	.header.fixed {
		padding: 10px 0;
		background-color: #000;
		box-shadow: 0 3px 10px rgba(0, 0, 0, .2);

		position: fixed;
		top: 0;
		left: 0;
		right: 0;

		transform: translate3d(0, 0, 0);
	}

	/* NAV */
	.nav {
		display: none;
		width: 100%;

		position: absolute;
		top: 100%;
		left: 0;
	}
	.nav.active {
		display: block;
	}

	.nav >* {
		display: block;

		margin: 0;
		background-color: rgba(0, 0, 0, 0.90);
		color: #fff;
		text-align: center;
	}

	.nav-toggle {
		display: block;
	}
	.menu__item,
	.phone {
		width: 100%;
		padding: 10px 20px;
		border-bottom: 1px solid #fff;
	}
	.phone {
		border-bottom: 0;
	}
	.logo {
		left: 15px;
		transform: translate(0, -50%);
	}

	/* INTRO */
	.intro__title {
		margin: 60px auto;
	}

	/* NEWS */
	.news__content {
		font-size: 0.9em;
	}
	.news__text--bold {
		font-size: 16px;
	}
	.news__img {
		max-width: 50%;
	}

	/* SLICK */
	.slick-arrow:after {
		padding: 5px;
		margin: 5px;
	}
	.slick-next {
		right: 0;
	}
	.slick-prev {
		left: 0;
	}


	/* ORDER */
	.order__form {
		margin-top: 0;
	}
	.order__btn {
		padding: 10px 30px;
	}
	.footer__inner {
		justify-content: flex-end;
	}
	.phone--footer {
		flex-basis: content;
	}
}

/* Landscape phones and smaller */
@media (max-width: 575px) {
	/* INTRO */
	.intro {
		height: 100%;
	}
	.intro__title {
		font-size: 42px;
	}
	.intro__btn {
		margin-top: 40px;
		padding: 10px 30px;
		font-size: 16px;
	}

	/* CONTAINER */
	.container__title {
		margin-bottom: 20px;
		font-size: 20px;
	}

	/* NEWS */
	.news {
		padding-top: 50px;
	}
	.news__content {
		display: flex;
		flex-direction: column;
		position: relative;
	}
	.news__text {
		margin-bottom: 10px;
	}
	.news__text--bold {
		padding: 0;
	    position: static;
	    top: 0;
	    left: 0;
	    font-size: 15px;
	}
	.news__img {
		max-width: 80%;
	}

	/* MODELS */
	.models {
		margin: 50px 0;
	}
	.models__img {
		width: 70%;
	}

	/* ORDERS */
	.order__photo {
		width: 0;
		height: 0;
	}
	.order__content {
		width: 100%;

		background: linear-gradient(rgba(0,0,0,.9), rgba(0,0,0,.9)), 
		url(../images/footer.png) center no-repeat;
		background-size: cover;
	}

	/* FOOTER */
	.phone--footer {
		display: none;
		font-size: 0;
	}
	.footer__inner {
		padding: 10px;
		font-size: 12px; 
	}
	.footer__inner .logo {
		display: none;
	}
}